@layer base {
    html,
    body,
    #main,
    main {
        width: 100%;
        height: 100%;
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
        box-sizing: border-box;
        overflow: hidden auto ;
        transition: all;
    }
    
    /* Скрытие скролбара */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(63, 63, 70, 0.5);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(63, 63, 70, 0.8);
    }
    
    /* Firefox */
    * {
        scrollbar-color: rgba(63, 63, 70, 0.5) transparent;
    }
}
@layer utilities {
    @media (max-height: 12px) {
        .max-h-\[12px\]\:\hidden {
            display: none !important;
        }
        .event-text-hidden {
            display: none !important;
        }
    }
    .triangle-bottom {
        width: 0; height: 0;
        border-style: solid;
        border-color: var(--background) transparent transparent transparent;
        border-width: 12px 6px 0px 6px;
    }
}
